

body{
    background-image: linear-gradient(to right, #43a4c0, #466fc2);
}

.container{
    display: auto;
    padding-top: 5%;
    width: auto;
    height: auto;
}

.box{
    background-color: #ffffff;
    border-radius: 2px 2px 2px 2px ;
    text-align: center;
    width: auto;
    height: auto;
}

.box h1, h3, h4, h5{
    font-family: 'Baloo Chettan 2', cursive;
}

.box h4{
    color: #4f4f4f;
}

.items{
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.buttons{
    padding-top: 5%;
}